---
name: json lint
on: [push]
jobs:
  check:
    runs-on: ubuntu-latest
    name: json lint
    steps:
      - uses: actions/checkout@v6
      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: |
            *.md
            !out/*.md
            !jsonresume-theme-curzy-custom/**/*.md
      - run: sudo apt-get install -y jq
      - run: jq . cv-*.json -e
